@import "compass";
@import "vars";
@import "media_queries";
@import "fonts";
@import "typography";
@import "mixins";
@import "ui_elements";
@import "buttons";
@import "utility_animations";

%clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}