@import "library";

html {
  font-size: 16px;
  @include mobile-portrait-and-below {
    font-size: 20px;
  }
}

body {
  background: $body-bg-color;
  margin: 0;
  color: $text-color;
  @include border-radius(50%);
  @extend %body-font;
}

* {
  box-sizing: border-box;
}

#loader-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 1;
  @include transition(opacity $transition-duration);
  pointer-events: none;
  html:not(.loading) & {
    opacity: 0;
  }
}

#loader {
  $loader-size: 80px;
  top: 50%;
  left: 50%;
  margin-left: -$loader-size / 2;
  margin-top: -$loader-size / 2;
  position: absolute;
  @include square($loader-size);
  border-radius: 50%;
  border: 3px solid $gray;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  @include animation(loader 3s linear infinite);
  @at-root {
    @include keyframes(loader) {
      0% {
        @include transform(rotate(0deg));
      }
      100% {
        @include transform(rotate(360deg));
      }
    }
  }
  &:after {
    content: "";
    position: absolute;
    top: -5px;
    left: 20px;
    @include square(11px);
    border-radius: 50%;
    background-color: $gray;
  }
}

@import "views/login";
@import "views/signup";
@import "views/nav";
@import "views/index";
@import "views/me";
@import "views/about";

