#about-view {
  padding-top: 4rem;
  .main {
    @extend %content-width;
    h1 {
      @extend %h1;
    }
    .subtitle {
      @extend %header-font;
      color: $highlight-text-color;
      font-size: 1.3rem;
      margin-bottom: 2.5rem;
    }
    .description {
      margin-bottom: 1.5rem;
      font-weight: 100;
    }
    .bold {
      font-weight: 500;
    }
  }
}


