#condition-view {
  .header {
    @extend %belief-header;
  }
  .proof {
    list-style: none;
    @extend %submitted-item;
    cursor: default;
    padding-bottom: 1rem;
    .pending {
      display: block !important;
      margin-bottom: 1rem;
    }
  }
  .body {
    width: 60%;
    max-width: 900px;
    margin: auto;
    padding: 3rem 0;
    .frame {
      padding-bottom: 2rem;
    }
    .title {
      margin-bottom: 1rem;
      font-size: 1.3rem;
    }
    .pending, .confirmed {
      display: inline-block;
      font-size: 0.9rem;
    }
    .confirmed {
      margin-left: 0.5rem;
      &:before {
        content: ' / ';
        display: inline-block;
        margin-right: 0.4rem;
      }
    }
    #vote-on-condition {
      padding-top: 2rem;
      text-align: center;
      #vote-yes-on-condition {
        margin-right: 1rem;
      }
      padding-bottom: 3rem;
    }
    .proofs-wrapper .title, .frame {
      text-align: center;
      @extend %naked-label;      
    }
    #submit-proof {
      #toggle-proof-submission {
        @extend %subdued-label;
        text-align: center;
      }
      .form-container {
        width: 50%;
        min-width: 300px;
        margin: auto;
        position: relative;
        padding-top: 1rem;
        textarea {
          width: 100%;
          resize: vertical;
        }
        .button-container {
          text-align: center;
          padding-top: 1.5rem;
          #submit-proof-button {
            margin-right: 1rem;
          }
        }
      }
      &[data-active="true"] {
        #toggle-proof-submission {
          display: none;
        }
      }
      &[data-active="false"] {
        .form-container {
          display: none;
        }
      }
    }
    .proofs-wrapper {
      padding-top: 3rem;
      ul {
        border-top: solid 1px $border-color;
        margin: 3rem auto;
        padding: 2rem 0;
        position: relative;
        &:before {
          content: "Submitted proofs:";
          @extend %subdued-label;
          position: absolute;
          top: -0.6rem;
          background: white;
          padding-right: 0.5rem;
          pointer-events: none !important;
          color: $subdued-text-color !important;
        }
      }
    }
  }
}