#condition-view {
  &.converting-belief {
    .prompt, .actions, .body .frame {
      opacity: 0;
    }
  }

  &.placing-stake {
    .body .frame, .proofs-wrapper .title {
      opacity: 0;
    }
  }

  &.animating-in-form, &.animating-out-form {
    .responses-wrapper {
      @include transition(transform $transition-duration);
    }    
  }

  &.animating-in-form {
    #toggle-proof-submission {
      opacity: 0;
    }
  }

  &.animating-out-form {
    #toggle-proof-submission {
      opacity: 1 !important;
    }
    .form-container {
      opacity: 1;
      @include animation(fade-out $transition-duration forwards);
    }
  }

  &:not(.animating-out-form) {
    #submit-proof[data-active="true"] .form-container {
      opacity: 0;
      @include animation(fade-in $transition-duration forwards);
    }
  }
  
  .animating-in-condition & {
    .body .frame, .proofs-wrapper {
      opacity: 0;
      @include animation(fade-in $transition-duration $transition-duration / 2 forwards);
    }    
  }

  .scroll-jumping & {
    .header {
      opacity: 0;
      @include animation(fade-in $transition-duration $transition-duration / 2 forwards);
    }
  }

  .body .frame {
    @include transition(opacity $transition-duration);
  }
  .header {
    @extend %belief-header;
  }
  .proof {
    list-style: none;
    @extend %submitted-item;
    cursor: default;
    padding-bottom: 1rem;
    .button {
      opacity: 0;
      @include animation(fade-in $transition-duration forwards);
      margin-top: 1rem;
      &:hover {
        background-color: $agreement-color;
      }
    }
    &:last-of-type {
      padding-bottom: 5rem;
    }
  }
  .body {
    margin-bottom: 3.5rem;
    width: $content-width * 1%;
    min-width: $min-content-width;
    max-width: $max-content-width;
    margin: auto;
    padding: 3.5rem 0;
    position: relative;
    .frame {
      padding-bottom: 1rem;
    }
    .main-condition {
      .title {
        margin-bottom: 0rem;
        line-height: $body-font-line-height;
      }
      .source-list {
        @extend %source-list;
      }
      @extend %pending-confirmed-author;      
    }
    .title {
      margin-bottom: 1rem;
      font-size: 1.3rem;
    }
    #vote-on-condition {
      padding-top: 2rem;
      padding-bottom: 1rem;
      text-align: center;
      @include transform(none !important);
      opacity: 0;
      @include animation(fade-in $transition-duration $transition-duration / 2 forwards);
      #vote-yes-on-condition {
        margin-right: 1rem;
        &:hover {
          background-color: $agreement-color;
        }
      }
      #vote-no-on-condition {
        &:hover {
          background-color: $disagreement-color;
        }
      }
    }
    .proofs-wrapper .title, .frame {
      text-align: center;
      @extend %naked-label;      
    }
    #submit-proof {
      #toggle-proof-submission {
        @extend %subdued-label;
        text-align: center;
        @include transition(all $transition-duration);
      }
      .form-container {
        @extend %contribute-form;
        position: relative;
        padding-top: 1rem;
        padding-bottom: 3rem;
        .button-container {
          text-align: center;
          padding-top: 1.5rem;
          #submit-proof-button {
            margin-right: 1rem;
          }
        }
      }
      &[data-active="true"] {
        #toggle-proof-submission {
          opacity: 0;
          pointer-events: none;
        }
      }
      &[data-active="false"] {
        .form-container {
          display: none;
        }
      }
    }
    .proofs-wrapper {
      .fading-in & {
        @include transition(none);
      }
      .title {
        @include transition(opacity $transition-duration);
      }
      position: absolute;
      padding-top: 3.5rem;
      top: 0;
      left: 0;
      right: 0;
      @include transition(all $transition-duration);
      ul {
        margin: 0 auto;
        padding: 0;
        position: relative;
      }
    }
  }
}