#condition-view {
  .header {
    @extend %belief-header;
  }
  .proof {
    list-style: none;
    @extend %submitted-item;
    cursor: default;
    padding-bottom: 1rem;
    .button {
      margin-top: 1rem;
    }
  }
  .body {
    width: 60%;
    max-width: 900px;
    margin: auto;
    padding: 3rem 0;
    .frame {
      padding-bottom: 1rem;
    }
    .main-condition {
      .title {
        margin-bottom: 0rem;
        line-height: $body-font-line-height;
      }
      .source-list {
        @extend %source-list;
      }
      .more-info {
        margin-top: 0.5rem;
      }
      @extend %pending-confirmed-author;      
    }
    .title {
      margin-bottom: 1rem;
      font-size: 1.3rem;
    }
    #vote-on-condition {
      padding-top: 2rem;
      padding-bottom: 1rem;
      text-align: center;
      #vote-yes-on-condition {
        margin-right: 1rem;
      }
    }
    .proofs-wrapper .title, .frame {
      text-align: center;
      @extend %naked-label;      
    }
    #submit-proof {
      #toggle-proof-submission {
        @extend %subdued-label;
        text-align: center;
      }
      .form-container {
        @extend %contribute-form;
        position: relative;
        padding-top: 1rem;
        padding-bottom: 3rem;
        textarea {
          width: 100%;
          resize: vertical;
        }
        .button-container {
          text-align: center;
          padding-top: 1.5rem;
          #submit-proof-button {
            margin-right: 1rem;
          }
        }
      }
      &[data-active="true"] {
        #toggle-proof-submission {
          display: none;
        }
      }
      &[data-active="false"] {
        .form-container {
          display: none;
        }
      }
    }
    .proofs-wrapper {
      padding-top: 3rem;
      ul {
        margin: 0 auto;
        padding: 0;
        position: relative;
      }
    }
  }
}