#create-story {
  width: $content-width * 1vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  .title {
    font-size: 3.5rem;
    font-weight: 100;
    margin-bottom: 2.5rem;
  }
  .explanation {
    margin-bottom: 1.5rem;
  }
  .checkbox-wrapper {
    #hide-identity {
      cursor: pointer;
      float: left;
      border: solid 1px $gray;
      @include square(1.5rem);
      margin-right: .5rem;
      .material-icons {
        pointer-events: none;
      }
      &[data-hide="true"] {
        .material-icons {
          display: none;
        }
      }
      &[data-hide="false"] {

      }
    }
    .label {
      line-height: 1.75rem;
    }
  }
  .create-entry-wrapper {
    clear: both;
    margin-top: 2rem;
    border-top: solid 1px $smoke;
    padding-top: 2rem;
    .title {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
  }
  .date-wrapper {
    &[data-error="true"] {
      input {
        border-color: red !important;
      }
    }
    &:not([data-error="true"]) {
      .error {
        display: none;
      }
    }
  }
  .button {
    margin-top: 2rem;
  }
}