#create-story {
  #hide-identity {
    width: 20px;
    height: 20px;
    &[data-hide="true"] {
      background: blue;
    }
    &[data-hide="false"] {
      background: green;
    }
  }
  .date-wrapper {
    &[data-error="true"] {
      input {
        border-color: red !important;
      }
    }
    &:not([data-error="true"]) {
      .error {
        display: none;
      }
    }
  }
}