$last-updated-width: 6.5rem;

%index-content-container {
  width: $content-width * 1vw;
  max-width: $max-content-width;
  margin-left: auto;
  margin-right: auto;  
}

#index {
  @extend %index-content-container;
  h1 {
    font-size: 3.5rem;
    color: $bittersweet;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .description {
    margin-top: -1rem;
    margin-bottom: 2rem;
    font-weight: 100;
  }
  .button {
    margin-bottom: 2.5rem;
  }
  ul {
    margin: 0;
    list-style: none;
    padding: 0 0 5rem 0;
  }
  .loader {
    @extend %header-font;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}