%index-content-container {
  width: $content-width * 1vw;
  margin-left: auto;
  margin-right: auto;  
}

#index {
  @extend %index-content-container;
  .hero {
    text-align: center;
    border-bottom: solid 1px $border-color;
    padding-top: 5rem;
    padding-bottom: 3rem;
    .title {
      margin-bottom: 1.75rem;
      font-size: 2.5rem;
    }
    .button {
      @extend %button-large;
    }
  }
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 100;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  ul {
    margin: 0;
    list-style: none;
    padding: 0 0 5rem 0;
    text-align: center;
    li {
      padding: 1rem 0;
      background: $carrara;
      position: relative;
      cursor: pointer;
      float: left;
      color: $gray;
      .last-updated {
        * {
          display: inline-block;
          margin-right: .5rem;
        }
      }
      &:hover {

      }
    }
    svg {
      path {
        @include transition(stroke $transition-duration);
        fill: none;
        stroke: $bittersweet;
        stroke-width: 3px;
        stroke-linecap: round;
      }
      circle {
        fill: none;
      }
    }
    .contents {
      position: relative;
    }
  }
}