#issues-view {
  width: $content-width * 1%;
  margin: auto;
  padding-top: 4rem;
  h1 {
    @extend %header-font;
    text-transform: uppercase;
    color: $highlight-text-color;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
  .issue {
    margin: 2rem 0;
    cursor: pointer;
  }
}