#issues-view {
  width: $content-width * 1%;
  margin: auto;
  padding-top: 4rem;
  h1 {
    @extend %header-font;
    text-transform: uppercase;
    color: $highlight-text-color;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 4rem;
    font-size: 2.5rem;
  }
  .issue {
    margin: 3rem auto;
    width: 60%;
    cursor: pointer;
    .slug {
      @extend %header-font;
      text-transform: capitalize;
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
      color: $highlight-text-color;
    }
  }
}