#issue {
  padding-bottom: 3rem;
  .contents {
    width: $content-width * 1%;
    min-width: $min-content-width;
    max-width: $max-content-width;
    margin: auto;    
  }
  .frame, .prompt {
    text-align: center;
    @extend %naked-label;
  }
  .header {
    @extend %belief-header;
    background: none;
    padding-bottom: 0;
  }
  .frame {
    padding-bottom: 1rem;
  }
  .body {
    padding-top: 1.75rem;
  }
  .main-condition {
    .title {
      margin-bottom: 0rem;
      line-height: $body-font-line-height;
      font-size: $font-size-medium;
    }
    .source-list {
      @extend %source-list;
    }
    @extend %pending-confirmed-author;     
    .confirmed {
      &:before {
        display: none;
      }
    } 
    .separator {
      display: inline-block;
      margin-left: 0.5rem;
      margin-right: -0.1rem;
    }
    .source-list {
      margin-bottom: 0.5rem;
    }
  }
  .proof {
    overflow: hidden;
    position: relative;
    @extend %submitted-item;
    @extend %highlight-submitted-item;
    &:before {
      bottom: calc(100% - 2.25rem);
      opacity: 1;
      @include animation(none);
    }
    padding-top: 2.6rem;
    cursor: default;
  }
  .chart {
    background-color: $alabaster;
    padding: 3rem 0;
    margin-top: 2rem;
    text-align: center;
    min-height: 400px;
    opacity: 0;
    @include animation(fade-in $transition-duration forwards);
    .chart-title {
      @extend %naked-label;
    }
    .chart-contents {
      width: $content-width * 1%;
      min-width: $min-content-width;
      max-width: $max-content-width;
      @extend %clearfix;
      margin: auto;      
      margin-top: 2.5rem;
      position: relative;
      .y-axis-label {
        position: absolute;
        left: 0;
        text-align: center;
        -webkit-transform-origin: left;
        transform-origin: left;
        @include transform(rotate(-90deg) translateX(-100%) translateY(-4.5rem));
        @extend %header-font;
        font-size: 0.7rem;
        color: lighten($text-color, 5%);
        font-weight: 100;
        text-transform: uppercase;
      }
      text {
        @extend %header-font;
        font-size: 0.8rem;
        fill: lighten($text-color, 5%);
        font-weight: 100;
      }
      svg {
        overflow: visible;
      }
      line {
        stroke: darken($smoke, 2%);
      }
      path {
        fill: none;
        stroke-width: 3px;
        stroke-linecap: round;
        @include animation(dash 2s linear forwards);
        @at-root {
          @include keyframes(dash) {
            to {
              stroke-dashoffset: 0;
            }
          }
        }
      }
      path:first-of-type {
        stroke: $disagreement-color;
      }
      path:last-of-type {
        stroke: $agreement-color;
      }
    }
    .chart-source {
      margin-top: 3.5rem;
      text-align: right;
      @extend %naked-label;
      .label {
        margin-right: 0.5rem;
      }
      .label, a {
        font-weight: 300;
        color: $dove-gray;
        display: inline-block;
        vertical-align: middle;
        font-size: 0.7rem;
      }
      a {
        margin-right: -0.5rem;
      }
    }
    .key {
      margin-top: 3.5rem;
      float: left;
      .aff, .neg {
        @extend %header-font;
        font-weight: 100;
        text-align: left;
        position: relative;
        padding-left: 2.5rem;
        padding-bottom: 0.5rem;
        font-size: 0.9rem;
        &:before {
          content: "";
          @include size(2rem, 0.2rem);
          position: absolute;
          left: -3px;
          top: 0.5rem;
          display: block;          
        }
      }
      .aff:before {
        background: $agreement-color;
      }
      .neg:before {
        background: $disagreement-color;
      }
    }
    .ctas {
      margin-top: 3rem;
      #back, #explore-other-issues {
        @extend %subdued-label;
        display: inline-block;
      }
      #back {
        &:after {
          content: "|";
          display: inline-block;
          margin-left: 0.7rem;
          margin-right: 0.75rem;
        }
      }
      #explore-other-issues {

      }
    }
  }
}