#issues-view {
  width: $content-width * 1%;
  margin: auto;
  padding-top: 4rem;
  h1 {
    @extend %h1;
  }
  .issue {
    margin: 3rem auto;
    width: 60%;
    cursor: pointer;
    min-width: 500px;
    .slug {
      @extend %header-font;
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
      color: $highlight-text-color;
    }
  }
}