#me-view {
  @extend %content-width;
  $tabs: 'stories', 'likes';
  @each $tab in $tabs {
    &[data-active=#{$tab}] {
      [data-toggle=#{$tab}] {
        color: $bittersweet;
      }
    }
  }
  ul {
    margin: 0;
    list-style: none;
    padding: 0 0 5rem 0;
  }
}