#me-view {
  @extend %content-width;
  padding-top: 5rem;
  $tabs: 'stories', 'likes';
  @each $tab in $tabs {
    &[data-active=#{$tab}] {
      [data-toggle=#{$tab}] {
        color: $bittersweet;
      }
    }
  }
  ul {
    margin: 1.5rem 0 0 0;
    list-style: none;
    padding: 0 0 5rem 0;
  }
  .your-stories, .your-likes {
    font-weight: 800;
    display: inline-block;
    margin-right: 1.5rem;
    font-size: 3rem;
    text-transform: uppercase;
    cursor: pointer;
    color: lighten($gray, 20%);
  }
  .your-likes {
    position: relative;
    padding-left: 1rem;
    &:before {
      content: "";
      position: absolute;
      display: block;
      left: -0.3rem;
      top: 0.9rem;
      bottom: 1.3rem;
      width: 1px;
      background: lighten($gray, 20%);
    }
  }
}