#me-stand {
  padding-bottom: 10rem;
  .contents {
    width: $content-width * 1%;
    min-width: $min-content-width;
    max-width: $max-content-width;
    margin: auto;    
  }
  .frame, .prompt {
    text-align: center;
    @extend %naked-label;
  }
  .header {
    @extend %belief-header;
    background: none;
    padding-bottom: 1.75rem;
  }
  .frame {
    padding-bottom: 1rem;
  }
  .main-condition {
    .title {
      margin-bottom: 0rem;
      line-height: $body-font-line-height;
      font-size: $font-size-medium;
    }
    .source-list {
      @extend %source-list;
    }
    @extend %pending-confirmed-author;     
    .confirmed {
      &:before {
        display: none;
      }
    } 
    .separator {
      display: inline-block;
      margin-left: 0.5rem;
      margin-right: -0.1rem;
    }
  }
  .proof {
    overflow: hidden;
    position: relative;
    @extend %submitted-item;
    @extend %highlight-submitted-item;
    &:before {
      bottom: calc(100% - 2.25rem);
      opacity: 1;
      @include animation(none);
    }
    padding-top: 2.6rem;
    cursor: default;
  }
  .chart {
    background-color: $alabaster;
    padding: 3rem 0;
    margin-top: 2rem;
    text-align: center;
    min-height: 400px;
    opacity: 0;
    @include animation(fade-in $transition-duration forwards);
    .chart-title {
      @extend %naked-label;
    }
    .chart-contents, .chart-source {
      width: $content-width * 1%;
      min-width: $min-content-width;
      max-width: $max-content-width;
      margin: auto;      
    }
    .chart-contents {
      margin-top: 2.5rem;
      margin-bottom: 3rem;
      text {
        @extend %header-font;
        font-size: 0.8rem;
        fill: lighten($text-color, 5%);
        font-weight: 100;
      }
      svg {
        overflow: visible;
      }
      line {
        stroke: darken($smoke, 2%);
      }
      path {
        fill: none;
        stroke-width: 3px;
        stroke-linecap: round;
        @include animation(dash 2s linear forwards);
        @at-root {
          @include keyframes(dash) {
            to {
              stroke-dashoffset: 0;
            }
          }
        }
      }
      path:first-of-type {
        stroke: $disagreement-color;
      }
      path:last-of-type {
        stroke: $agreement-color;
      }
    }
    .chart-source {
      text-align: right;
      @extend %naked-label;
      .label {
        margin-right: 0.5rem;
      }
      .label, a {
        font-weight: 300;
        color: $dove-gray;
        display: inline-block;
        vertical-align: middle;
        font-size: 0.7rem;
      }
      a {
        margin-right: -0.5rem;
      }
    }
  }
}