#me-stand {
  .contents {
    width: $content-width * 1%;
    min-width: $min-content-width;
    max-width: $max-content-width;
    margin: auto;    
  }
  .frame, .prompt {
    text-align: center;
    @extend %naked-label;
  }
  .header {
    @extend %belief-header;
    background: none;
    padding-bottom: 1.75rem;
  }
  .frame {
    padding-bottom: 1rem;
  }
  .main-condition {
    .title {
      margin-bottom: 0rem;
      line-height: $body-font-line-height;
      font-size: $font-size-medium;
    }
    .source-list {
      @extend %source-list;
    }
    @extend %pending-confirmed-author;     
    .confirmed {
      &:before {
        display: none;
      }
    } 
    .separator {
      display: inline-block;
      margin-left: 0.5rem;
      margin-right: -0.1rem;
    }
  }
  .proof {
    overflow: hidden;
    position: relative;
    @extend %submitted-item;
    @extend %highlight-submitted-item;
    &:before {
      bottom: calc(100% - 2.25rem);
      opacity: 1;
      @include animation(none);
    }
    padding-top: 2.6rem;
    cursor: default;
  }
  .chart {
    background-color: $alabaster;
    padding: 3rem 0;
    margin-top: 2rem;
    text-align: center;
    min-height: 400px;
    opacity: 0;
    @include animation(fade-in $transition-duration forwards);
    .chart-title {
      @extend %naked-label;
    }
    .chart-contents {
      width: 60%;
      min-width: 400px;
      max-width: $max-content-width;
      margin: auto;
    }
  }
}