%nav-link {
  font-weight: 100;
  line-height: 2.25rem;
  font-size: 0.8rem; 
  color: $text-color;
  text-transform: uppercase;
}

nav {
  list-style: none;
  .contents {
    border-bottom: solid 1px darken($border-color, 5%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $body-bg-color;
    @extend %clearfix;
    padding: 0.6rem 1rem;
    z-index: 10;
    #logo {
      float: left;
      padding-top: 0.7rem;
      a {
        @extend %header-font;
        text-transform: uppercase;
        line-height: 1rem;
        color: $text-color;
        font-weight: 500;
        font-size: 1.75rem;
      }
    }
    #me, #logout-button, #login, #signup, #create-story-button, #go-to-search {
      float: right;
      cursor: pointer;
    }
    #create-story-button {
      margin-left: 1.5rem;
    }
    #go-to-search {
      i, .text {
        display: inline-block;
        vertical-align: middle;
      }
      .text {
        margin-left: 0.2rem;
        @extend %nav-link;
        @include mobile-portrait-and-below {
          display: none;
        }
      }
    }
    #login, #signup, #logout-button, #me {
      margin-left: 1rem;
      &, a {
        @extend %nav-link;       
      }
    }
  }
}