%nav-link {
  font-weight: 500;
  line-height: 2.25rem;
  font-size: 0.8rem; 
  color: $highlight-text-color;
  text-transform: uppercase;
}

%active-nav-link {
  border-bottom: solid 2px $border-color;
}

nav {
  min-width: $min-content-width;
  list-style: none;
  @extend %header-font;
  [data-active-route="issues"] & {
    #go-to-issues {
      @extend %active-nav-link;
    }
  }
  [data-active-route="about"] & {
    #go-to-about {
      @extend %active-nav-link;
    }
  }
  [data-active-route="signup"] & {
    #signup {
      @extend %active-nav-link;
    }
  }
  [data-active-route="login"] & {
    #login {
      @extend %active-nav-link;
    }
  }
  .contents {
    padding: 2rem 0;
    width: $content-width * 1%;
    margin: auto;
    @extend %clearfix;
    a {
      display: inline-block;
    }
    #logo {
      float: left;
      a {
        @extend %nav-link;
        text-transform: uppercase;
        color: $highlight-text-color;
        font-weight: 700;
      }
    }
    li {
      float: right;
      cursor: pointer;
    }
    #go-to-issues {
      .text {
        @extend %nav-link;
        @include mobile-portrait-and-below {
          display: none;
        }
      }
    }
    li {
      margin-left: 1.5rem;
      &, a {
        @extend %nav-link;       
      }
      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}