nav {
  list-style: none;
  .contents {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    @extend %clearfix;
    padding: 1rem;
    #logo {
      float: left;
      font-weight: 100;
      a {
        line-height: 2;
        text-transform: uppercase;
        color: $tuna;
        font-size: 1.25rem;
      }
    }
    #me, #logout-button, #login, #signup, #create-story-button {
      float: right;
    }
    #create-story-button {
      margin-left: 1.5rem;
    }
    #login, #signup, #logout-button, #me {
      margin-left: 1rem;
      text-transform: uppercase;
      &, a {
        line-height: 2.25rem;
        font-size: 0.8rem; 
        color: $tuna;       
      }
    }
  }
}