#search {
  width: $content-width * 1vw;
  margin-left: auto;
  margin-right: auto;  
  .title {
    margin-bottom: 1rem;
  }
  canvas {
    border: solid 2px $amaranth;
    @include transform(scale(0.5));
    transform-origin: top left;
  }
}