#stand-view {
  .header, .body {
    margin: 4rem auto;    
  }
  .header {
    width: $content-width * 1%;
    margin-top: 2rem;
    text-align: center;
    padding-bottom: 4rem;
    border-bottom: solid 1px $border-color;
  }
  .prompt {
    @extend %label;
  }
  h1 {
    @extend %text-h1;
    margin-bottom: 1rem;
  }
  #see-other-side, #convert-belief {
    @extend %header-font;
    text-transform: uppercase;
    color: $subdued-text-color;
    font-size: 0.8rem;
    cursor: pointer;
    display: inline-block;
    @include transition(color $transition-duration);
    &:hover {
      color: darken($subdued-text-color, 10%);
    }    
  }
  #see-other-side {
  }
  #convert-belief {
    margin-left: 1rem;
    &:before {
      content: "/";
      display: inline-block;
      margin-right: 1rem;
    }
  }
  .body {
    width: 60%;
    min-width: $min-content-width;
  }
  .title {
    @extend %text-h1;
    text-align: center;
    margin: 0rem auto 4rem;
  }
  .condition {
    padding: 2rem 0;
    cursor: pointer;
    .tagline {
      @extend %header-font;
      color: $highlight-text-color;
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
    }
  }
}