%adapted-naked-label {
  @extend %label;
}

#stand-view {
  .body {
    width: $content-width * 1%;
    margin-left: auto;
    margin-right: auto;
    min-width: $min-content-width;
  }
  .header {
    @extend %belief-header;
  }
  .title {
    @extend %naked-label;
    text-align: center;
    margin: 0rem auto 1rem;
  }
  #contribute {
    padding-bottom: 1rem;
    #toggle-contributing {
      text-align: center;
      @extend %subdued-label;
    }
    &[data-active="false"] {
      .form-container {
        display: none;
      }
    }
    &[data-active="true"] {
      #toggle-contributing {
        opacity: 0;
        pointer-events: none;
      }
    }
    .form-container {
      @extend %contribute-form;
      position: relative;
      padding-bottom: 3rem;
      .prompt {
        text-align: center;
        margin-bottom: 1rem;
      }
      .more-info textarea {
        margin-top: 1rem;
      }
      .button-container {
        text-align: center;
        padding-top: 1.5rem;
        #submit-what-would-it-take {
          margin-right: 1rem;
        }
      }
    }
  }
  .body {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    width: 60%;
    max-width: 900px;
  }
  .conditions-wrapper {
  }
  .condition {
    @extend %submitted-item;
  }
}