%adapted-naked-label {
  @extend %label;
}

#stand-view {
  @include animation(fade-in $transition-duration forwards);
  &.converting-belief {
    .prompt, .actions, .body .title {
      opacity: 0;
    }
  }
  
  .scroll-jumping & {
    .header {
      opacity: 0;
    }
  }

  .animating-in-condition & {
    .body .title, #contribute, .condition:not(.target-condition) {
      opacity: 0;
    }
    .target-condition {
      .tagline span:last-of-type {
        opacity: 0;
      }
      .tagline {
        opacity: 0;
      }
      .source-list {
        opacity: 0;
      }
      .dummy-condition {
        position: absolute;
        top: 3.3rem;
        .tagline {
          @include transform(none);
          font-size: 1.3rem;
          @include animation(fade-in $transition-duration forwards);
        }
        .source-list {
          @include animation(fade-in $transition-duration forwards);
        }
      }
    }
  }

  .body .title, #contribute, .header {
    @include transition(opacity $transition-duration);
  }
  .condition {
    &, span, .tagline {
      @include transition(all $transition-duration);
    }
    .tagline {
      -webkit-transform-origin: left;
      transform-origin: left;
    }
  }

  .header {
    @extend %belief-header;
  }
  .title {
    @extend %naked-label;
    text-align: center;
    margin: 0rem auto 1rem;
  }
  #contribute {
    padding-bottom: 1rem;
    #toggle-contributing {
      text-align: center;
      @extend %subdued-label;
    }
    &[data-active="false"] {
      .form-container {
        display: none;
      }
    }
    &[data-active="true"] {
      #toggle-contributing {
        opacity: 0;
        pointer-events: none;
      }
    }
    .form-container {
      @extend %contribute-form;
      position: relative;
      padding-bottom: 3rem;
      .prompt {
        text-align: center;
        margin-bottom: 1rem;
      }
      .button-container {
        text-align: center;
        padding-top: 1.5rem;
        #submit-what-would-it-take {
          margin-right: 1rem;
        }
      }
    }
  }
  .body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    width: $content-width * 1%;
    min-width: $min-content-width;
    max-width: $max-content-width;
  }
  .conditions-wrapper {
  }
  .condition {
    @extend %submitted-item;
  }
}