#story-view {
  .entry {
    border: solid 1px green;
    padding: 100px 0;
  }
  svg {
    background: white;
    &:empty {
      display: none;
    }
    position: fixed;
    z-index: 1;
    path {
      fill: none;
      stroke: red;
      stroke-width: 3px;
    }
    circle.selected {
      fill: orange;
    }
  }
}