#story-view {
  .user, .entry, .utilities {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;    
  }
  .user {
    padding: 3rem 0 0 0;
  }
  .entry {
    padding: 3rem 0;
    &:not(:last-of-type) {
      border-bottom: solid 1px $smoke;
    }
    .button {
      float: right;
    }
  }
  .utilities {
    padding-top: 3rem;
    #delete-story {
      float: right;
    }
  }
  .form {
    #create-entry {
    }
    .button {
      margin-right: 1rem;
    }    
  }
  .header {
    overflow: hidden;
    &:empty {
      display: none;
    }
    .header-contents {
      background: $tuna;
      position: fixed;
      z-index: 1;      
      left: 0;
      right: 0;
      text-align: center;
      line-height: 0;
    }
    svg {
      position: relative;
      path {
        fill: none;
        stroke: $downy;
        stroke-width: 2px;
      }
      circle {
        fill: $harp;
      }
      circle.selected {
        fill: $amaranth;
        stroke: $amaranth;
        stroke-width: 3px;
      }
    }
  }
  #next-story {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    @include square(3rem);
    border: solid 1px $tuna;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    i {
      pointer-events: none;
      line-height: 3rem;
      font-size: 1.75rem;
    }
  }
  .edit {
    &[data-editing="false"] {
      .form {
        display: none;
      }
    }
    &[data-editing="true"] {
      #open-update-story {
        display: none;
      }
    }
  }
}