#story-view {
  .entry {
    padding: 3rem 0;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    &:not(:last-of-type) {
      border-bottom: solid 1px $smoke;
    }
  }
  svg {
    background: white;
    &:empty {
      display: none;
    }
    position: fixed;
    z-index: 1;
    path {
      fill: none;
      stroke: red;
      stroke-width: 3px;
    }
    circle.selected {
      fill: orange;
    }
  }
  .edit {
    &[data-editing="false"] {
      .form {
        display: none;
      }
    }
    &[data-editing="true"] {
      #open-update-story {
        display: none;
      }
    }
  }
}