#vote-page {
  width: $content-width * 1%;
  margin: 5rem auto;
  text-align: center;
  .prompt {
    @extend %label;
  }
  h1 {
    @extend %text-h1;
  }
  .button {
    margin: 0.5rem;
  }
  #agree-button {
    &:hover {
      background-color: $agreement-color;
    }
  }
  #disagree-button {
    &:hover {
      background-color: $disagreement-color;
    }
  }
}