@mixin button-sizing($font-size, $horizontal-padding, $padding-top: 0) {
  font-size: $font-size;
  padding: 0 $horizontal-padding;
  padding-top: $padding-top;
}

%button-small {
  @include button-sizing(0.65rem, 0.65rem, 0.1rem);
}

%button-large {
  @include button-sizing(1.5rem, 1.5rem);
}

%button-extra-large {
  @include button-sizing(2rem, 2rem);
}

.button {
  font-size: 0.8rem;
  border: solid 1px lighten($gray, 15%);
  background: lighten($gray, 15%);
  color: $body-bg-color;
  display: inline-block;
  line-height: 2.5;
  padding: 0.1rem 1rem 0 1rem;
  @include border-radius(3px);
  cursor: pointer;
  text-transform: uppercase;
  &[data-type="severe"] {
    color: white;
    border-color: $bittersweet;
    background: $bittersweet;
  }
  &[data-type="critical"] {
    color: white;
    border-color: $bittersweet;
    background: $bittersweet;
  }
}