@mixin button-sizing($font-size, $horizontal-padding, $padding-top: 0) {
  font-size: $font-size;
  padding: 0 $horizontal-padding;
  padding-top: $padding-top;
}

%button-small {
  @include button-sizing(0.65rem, 0.65rem, 0.1rem);
}

%button-large {
  @include button-sizing(1.5rem, 1.5rem);
}

%button-extra-large {
  @include button-sizing(2rem, 2rem);
}

.button {
  font-size: 0.8rem;
  background: lighten($gray, 15%);
  color: $body-bg-color;
  display: inline-block;
  line-height: 2.5;
  padding: 0.1rem 1rem 0 1rem;
  @include border-radius(3px);
  cursor: pointer;
  text-transform: uppercase;
  @extend %header-font;
  @include transition(background-color $transition-duration);
  .text {
    pointer-events: none;
    @include transition(opacity $transition-duration);
  }
  &:hover {
    background: lighten($gray, 20%);
  }
  &[data-loading="true"] {
    .text {
      opacity: 0;
    }
    .button-loader {
      opacity: 1;
    }
  }
}

.button-loader {
  pointer-events: none;
  opacity: 0;
  @include transition(opacity $transition-duration);
  left: 50%;
  top: 50%;
  margin-top: -3px;
  margin-left: -2px;
  position: absolute;
  .button-loader-center, &:before, &:after {
    opacity: .35;
    background-color: white;
    position: absolute;
    @include square(5px);
    @include border-radius(50%);
  }
  .button-loader-center {
    @include animation(button-loader 0.9s 0.3s infinite);
  }
  &:before, &:after {
    content: '';
  }
  &:before {
    margin-left: -9px;
    @include animation(button-loader 0.9s infinite);
  }
  &:after {
    margin-left: 9px;
    @include animation(button-loader 0.9s 0.6s infinite);
  }
  @at-root {
    @include keyframes(button-loader) {
      0% {
        opacity: .35;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: .35;
      }
    }
  }
}