@import url(https://fonts.googleapis.com/css?family=Merriweather:300);

@font-face {
    font-family: Gotham;
    src: url("../fonts/Gotham-Book.ttf");
}

@font-face {
    font-family: Gotham;
    font-weight: 700;
    src: url("../fonts/Gotham-Bold.ttf");
}

@font-face {
    font-family: Gotham;
    font-weight: 500;
    src: url("../fonts/Gotham-Medium.ttf");
}

@font-face {
    font-family: Gotham;
    font-weight: 300;
    src: url("../fonts/Gotham-Book.ttf");
}

@font-face {
    font-family: Gotham;
    font-weight: 100;
    src: url("../fonts/Gotham-Light.ttf");
}

@font-face {
    font-family: Tungsten;
    src: url("../fonts/tungsten-medium.ttf");
}

@font-face {
    font-family: Tungsten;
    font-weight: 500;
    src: url("../fonts/tungsten-medium.ttf");
}

@font-face {
    font-family: Tungsten;
    font-weight: 100;
    src: url("../fonts/tungsten-light.ttf");
}

%body-font {
    font-family: Merriweather;
    color: $subdued-text-color;
}

$body-font-line-height: 1.9;

%header-font {
    font-family: Gotham;
    color: $text-color;
}