%content-width {
  width: $content-width * 1vw;
  max-width: $max-content-width;
  margin-left: auto;
  margin-right: auto; 
}

%ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

%clearfix {
  &:before, &:after {
    content: " "; /* 1 */
    display: table; /* 2 */    
  }
  &:after {
    clear: both;
  }
}

%label {
  text-transform: uppercase;
  @extend %header-font;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 0.8rem;
  color: $highlight-text-color;    
  position: relative;
  &:after {
    content: "";
    width: 2rem;
    height: 2px;
    background: $border-color;
    position: absolute;
    top: calc(100% + 0.8rem);
    left: 50%;
    margin-left: -1rem;
  }
}

%text-h1 {
  font-size: 1.3rem;
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}

%auth-base {
  width: 50vw;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  .title {
    @extend %header-font;
    color: $highlight-text-color;
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }
  .input-wrapper {
    margin-bottom: 1rem;
    .error {
      @include transition(opacity $transition-duration);
      opacity: 0;
      color: red;
    }
    &[data-error="true"] {
      input {
        border: solid 1px red;
      }
      .error {
        margin-top: .5rem;
        opacity: 1;
      }
    }
    input {
      width: 100%;
      font-size: 1rem;
      padding: .5rem;
    }
  }
  input {
    display: block;
    &[type="submit"] {
      margin-top: 2rem;
      @extend .button;
      background: none;
      text-transform: capitalize;
      @extend %body-font;
    }
  }
}

.checkbox-wrapper {
  font-weight: 100;
  #hide-identity {
    cursor: pointer;
    float: left;
    border: solid 1px $gray;
    @include square(1.5rem);
    margin-right: 0.8rem;
    .material-icons {
      pointer-events: none;
    }
    &[data-hide="true"] {
      .material-icons {
        display: none;
      }
    }
    &[data-hide="false"] {

    }
  }
  .label {
    line-height: 1.75rem;
  }
}

input, textarea {
  @extend %body-font;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  .blackout {
    width: 100%;
    height: 100%;
    background: rgba(white, 0.75);
  }
  .contents {
    position: absolute;
    width: 50vw;
    height: 50vh;
    top: 25vh;
    left: 25vw;
    text-align: center;
    padding: 2rem;
    .title {
      font-size: 2rem;
    }
  }
  .button-container {
    margin-top: 2rem;
  }
  .button {
    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
}

a {
  text-decoration: none;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  .blackout {
    width: 100%;
    height: 100%;
    background: rgba(white, 0.75);
  }
  .contents {
    position: absolute;
    width: 50vw;
    height: 50vh;
    top: 25vh;
    left: 25vw;
    text-align: center;
    padding: 2rem;
    .title {
      font-size: 2rem;
    }
  }
  .button-container {
    margin-top: 2rem;
  }
  .button {
    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
}
