%content-width {
  width: $content-width * 1vw;
  max-width: $max-content-width;
  margin-left: auto;
  margin-right: auto; 
}

%ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

%clearfix {
  &:before, &:after {
    content: " "; /* 1 */
    display: table; /* 2 */    
  }
  &:after {
    clear: both;
  }
}

%auth-base {
  width: 50vw;
  padding-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  .title {
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 2rem;
  }
  .input-wrapper {
    margin-bottom: 1rem;
    .error {
      @include transition(opacity $transition-duration);
      opacity: 0;
      color: red;
    }
    &[data-error="true"] {
      input {
        border: solid 1px red;
      }
      .error {
        margin-top: .5rem;
        opacity: 1;
      }
    }
    input {
      width: 100%;
      font-size: 1rem;
      padding: .5rem;
    }
  }
  input {
    display: block;
    &[type="submit"] {
      margin-top: 2rem;
      @extend .button;
      background: none;
      text-transform: capitalize;
      @extend %body-font;
    }
  }
}

.pika-single {
  background: white;
  padding: 1.5rem;
  border: solid 1px $smoke;
  margin-top: 1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  &.is-hidden {
    display: none;
  }
  .is-disabled {
    opacity: 0.2;
  }
  .pika-title {
    text-align: center;
  }
  .pika-label {
    color: transparent;
    width: 6.25rem;
    height: 1.85rem;
    position: relative;
    margin: auto;
    select {
      position: absolute;
      top: 0;
      left: 0;
    }
    &:last-of-type {
      width: 3.2rem;
      margin-top: 0.25rem;
      margin-bottom: 1rem;
    }
  }
  .pika-select {
    font-size: 0.8rem;
    text-align: center;
    -webkit-appearance: none;
    padding: 0.25rem 0.5rem 0.1rem 0.5rem;
    text-transform: uppercase;
    font-weight: 100;
    font-family: Gotham;
    background-color: transparent;
    line-height: 1.5;
  }
  .pika-prev, .pika-next {
    position: absolute;
    top: 2rem;
    box-shadow: none;
    -webkit-appearance: none;
    border: none;
    background: none;
    &:before {
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .pika-prev {
    left: 3.8rem;
    &:before {
      @include triangle(left, $gray, 0.35rem);
    }
  }
  .pika-next {
    right: 3.6rem;
    &:before {
      @include triangle(right, $gray, 0.35rem);
    }
  }
}

.checkbox-wrapper {
  #hide-identity {
    cursor: pointer;
    float: left;
    border: solid 1px $gray;
    @include square(1.5rem);
    margin-right: .5rem;
    .material-icons {
      pointer-events: none;
    }
    &[data-hide="true"] {
      .material-icons {
        display: none;
      }
    }
    &[data-hide="false"] {

    }
  }
  .label {
    line-height: 1.75rem;
  }
}

#create-entry {
  .date-wrapper, .feeling-wrapper, .notes-wrapper {
    margin-bottom: 1.5rem;
  }
  .date-wrapper {
    .label {
      margin-right: 0.5rem;
    }
    .label, input {
      display: inline-block;
    }
    input {
      padding: 0.25rem 0.5rem;
      font-size: 1rem;
    }
  }
  .feeling-wrapper {
    .label {
      margin-bottom: 0.5rem;
    }
    input {
      width: 30vw;
    }
  }
  .notes-wrapper {
    .label {
      margin-bottom: 0.5rem;
    }
    textarea {
      width: 30vw;
      border: solid 1px $gray;
      font-size: 1rem;
      padding: 0.5rem;
    }
  }
}

input, textarea {
  @extend %body-font;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  .blackout {
    width: 100%;
    height: 100%;
    background: rgba(white, 0.75);
  }
  .contents {
    position: absolute;
    width: 50vw;
    height: 50vh;
    top: 25vh;
    left: 25vw;
    text-align: center;
    padding: 2rem;
    .title {
      font-size: 2rem;
    }
  }
  .button-container {
    margin-top: 2rem;
  }
  .button {
    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
}

a {
  text-decoration: none;
}