%content-width {
  width: $content-width * 1vw;
  max-width: $max-content-width;
  margin-left: auto;
  margin-right: auto; 
}

%ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

%clearfix {
  &:before, &:after {
    content: " "; /* 1 */
    display: table; /* 2 */    
  }
  &:after {
    clear: both;
  }
}

%label-base {
  text-transform: uppercase;
  @extend %header-font;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 0.8rem;
  color: $highlight-text-color; 
}

%label {
  @extend %label-base; 
  position: relative;
  &:after {
    content: "";
    width: 2rem;
    height: 2px;
    background: $border-color;
    position: absolute;
    top: calc(100% + 0.8rem);
    left: 50%;
    margin-left: -1rem;
  }
}

%naked-label {
  @extend %label-base;
}

%subdued-label {
  @extend %header-font;
  text-transform: uppercase;
  color: $subdued-text-color;
  font-size: 0.8rem;
  @include transition(color $transition-duration);
  cursor: pointer;
  letter-spacing: 1px;
  &:hover {
    color: darken($subdued-text-color, 10%);
  } 
}

%text-h1 {
  font-size: 1.3rem;
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}

%h1 {
  @extend %header-font;
  text-transform: uppercase;
  color: $highlight-text-color;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 4rem;
  font-size: 2.5rem;
}

%contribute-form {
  width: 50%;
  min-width: 300px;
  margin: auto;
  input {
    width: 100%;
    margin-bottom: 1rem;
  }
  textarea {
    width: 100%;
    resize: vertical;
    &:focus {
      + .remaining-characters {
        opacity: 1;
      }
    }
  }
  .remaining-characters {
    opacity: 0;
    @include transition(opacity $transition-duration);
    font-size: 0.8rem;
    line-height: 1;
    text-align: right;
  }
  .sources-container {
    margin-bottom: 1rem;
    .source-wrapper {
      margin-top: 1rem;
    }
    .label, .add-more {
      @extend %naked-label;
      margin-bottom: 1rem;
    }
    .add-more {
      margin-top: 1rem;
      cursor: pointer;
    }
  }
}

%auth-base {
  width: 50vw;
  max-width: 500px;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  .title {
    @extend %header-font;
    color: $highlight-text-color;
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }
  .input-wrapper {
    margin-bottom: 1rem;
    .error {
      @include transition(opacity $transition-duration);
      opacity: 0;
      color: red;
    }
    &[data-error="true"] {
      input {
        border: solid 1px red;
      }
      .error {
        margin-top: .5rem;
        opacity: 1;
      }
    }
    input {
      width: 100%;
      font-size: 1rem;
      padding: .5rem;
    }
  }
  input {
    display: block;
    &[type="submit"] {
      margin-top: 2rem;
      @extend .button;
      background: none;
      text-transform: capitalize;
      @extend %body-font;
    }
  }
}

.checkbox-wrapper {
  font-weight: 100;
  #hide-identity {
    cursor: pointer;
    float: left;
    border: solid 1px $gray;
    @include square(1.5rem);
    margin-right: 0.8rem;
    .material-icons {
      pointer-events: none;
    }
    &[data-hide="true"] {
      .material-icons {
        display: none;
      }
    }
    &[data-hide="false"] {

    }
  }
  .label {
    line-height: 1.75rem;
  }
}

input, textarea {
  @extend %body-font;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  .blackout {
    width: 100%;
    height: 100%;
    background: rgba(white, 0.75);
  }
  .contents {
    position: absolute;
    width: 50vw;
    height: 50vh;
    top: 25vh;
    left: 25vw;
    text-align: center;
    padding: 2rem;
    .title {
      font-size: 2rem;
    }
  }
  .button-container {
    margin-top: 2rem;
  }
  .button {
    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
}

a {
  text-decoration: none;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  .blackout {
    width: 100%;
    height: 100%;
    background: rgba(white, 0.95);
  }
  .contents {
    position: absolute;
    width: 50vw;
    height: 50vh;
    top: 25vh;
    left: 25vw;
    text-align: center;
    padding: 2rem;
    .title {
      font-size: 2rem;
    }
  }
  .button-container {
    margin-top: 2rem;
  }
  .button {
    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
}

%belief-header {
  padding: 3rem 0 2.8rem 0;
  background: $alabaster;
  text-align: center;
  .prompt {
    @extend %naked-label;
  }
  .header-contents {
    width: $content-width * 1%;
    margin-left: auto;
    margin-right: auto;
    min-width: $min-content-width;
  }
  #convert-belief {
    margin-left: 1rem;
    &:before {
      content: "/";
      display: inline-block;
      margin-right: 1rem;
    }
  }
  #see-other-side, #convert-belief {
    @extend %subdued-label;
    display: inline-block;
  }
  h1 {
    @extend %text-h1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: $body-font-line-height;
  }
}

%source-list {
  margin-top: 1rem;
  .label {
    @extend %naked-label;
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
  }
  a {
    display: block;
    @extend %header-font;
    font-size: 0.8rem;
    font-weight: 100;
    @include transition(opacity $transition-duration);
    &:hover {
      opacity: 0.8;
    }
    &:not(:last-of-type) {
      margin-bottom: 0.25rem;
    }
    padding-left: 1rem;
    position: relative;
    &:before {
      content: "";
      @include square(4px);
      border-radius: 50%;
      background: darken($border-color, 5%);
      position: absolute;
      top: 50%;
      margin-top: -2px;
      left: 3px;
    }
  }
}

%pending-confirmed-author {
  .pending, .confirmed, .author {
    display: inline-block;
    margin-bottom: 0.8rem;
    font-size: 0.7rem;
    @extend %subdued-label;
    pointer-events: none;
    &[data-exists="true"] {
      color: $de-york;
    }
  }
  .author {
    margin-right: 0.5rem;
    &:after {
      color: $subdued-text-color !important;
      content: "/";
      display: inline-block;
      margin-left: 0.5rem;
    }
  }
  .confirmed {
    margin-left: 0.5rem;    
    &:before {
      color: $subdued-text-color !important;
      content: " / ";
      display: inline-block;;
      margin-right: 0.5rem;
    }
  }
}

%submitted-item {
  cursor: pointer;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  .tagline {
    font-size: 1rem;
    line-height: $body-font-line-height;
    margin-bottom: 0rem;
    span:last-of-type {
      margin-left: 0.25rem;
      color: $subdued-text-color;
    }
  }
  @extend %pending-confirmed-author;
  .source-list {
    @extend %source-list;
  }
}

textarea, input {
  border-radius: 4px;
  border: solid 1px $border-color;
  @extend %header-font;
  padding: 0.8rem;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 100;
  outline: 0;
  box-shadow: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}