$transition-duration: 250ms;

$smoke: #eee;
$black: #474747;

// https://color.adobe.com/CS04-color-theme-1994456
$texas: #F6F792;
$tuna: #333745;
$downy: #77C4D3;
$harp: #DAEDE2;
$amaranth: #EA2E49;

$gray: #8F8F8F;
$wild-sand: #f6f6f6;
$mine-shaft: #343434;
$carrara: #EAE9E7;
$mercury: #e9e9e9;
$bittersweet: #FD7475;
$padua: #ABE5CB;

$body-bg-color: $wild-sand;
$text-color: $mine-shaft;
$subdued-text-color: $gray;
$border-color: $mercury;

// DIMENSIONS

$content-width: 80;