$transition-duration: 250ms;

$smoke: #eee;
$black: #474747;

// https://color.adobe.com/CS04-color-theme-1994456
$texas: #F6F792;
$tuna: #333745;
$downy: #77C4D3;
$harp: #DAEDE2;
$amaranth: #EA2E49;

$alabaster: #f7f7f7;
$mine-shaft: #2a2a2a;
$dove-gray: #707070;
$silver-sand: #c0c3c7;
$athens-gray: #eaebed;

$gray: #8F8F8F;
$wild-sand: #f6f6f6;
$carrara: #EAE9E7;
$mercury: #e9e9e9;
$bittersweet: #FD7475;
$padua: #ABE5CB;

$body-bg-color: white;
$highlight-text-color: $mine-shaft;
$text-color: $dove-gray;
$subdued-text-color: $silver-sand;
$border-color: $athens-gray;

// DIMENSIONS

$content-width: 80;
$min-content-width: 600px;
$max-content-width: 900px;